{% comment %}
  Snippet can be used in section
  eg. {% include 'include-image-with-text' %}
{% endcomment %}

{% if section.settings.grid_layout == false %}
  {% assign grid_layout = 'standard' %}
{% endif %}

<div class="image-with-text grid-layout--{{grid_layout}} {% if grid_layout == 'standard' %} container {% endif %}
            clearfix across-{{section.settings.featured_links_per_row}}">
  {% if grid_layout == 'standard' %}<div class="sixteen columns">{% endif %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% capture right_text %}
          <section class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <div class="image-with-text--half image-with-text--image">
              <div class="image-with-text--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                  {% if block.settings.image %}
                    {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="image-with-text--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  <h2>{{ block.settings.title | escape }}</h2>
                </a>
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.button_label != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="">
                    <button style="margin-bottom:2em;">{{ block.settings.button_label | escape }}</button>
                  </a>
                {% endif %}
                {% if block.settings.text_under_btn != blank %}
                      {{ block.settings.text_under_btn }}
                  {% endif %}
              </div>
            </div>
          </section>
        {% endcapture %}
        {% capture left_text %}
            <section class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
              <div class="image-with-text--half">
                <div class="info text-align--{{block.settings.frontpage_text_align}}">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                    <h2>{{ block.settings.title | escape }}</h2>
                  </a>
                  {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="">
                      <button style="margin-bottom:2em;">{{ block.settings.button_label | escape }}</button>
                    </a>
                  {% endif %}
                  {% if block.settings.text_under_btn != blank %}
                      {{ block.settings.text_under_btn }}
                  {% endif %}
                </div>
              </div>
              <div class="image-with-text--half image-with-text--image">
                <div class="image-with-text--wrap">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                    {% if block.settings.image %}
                      {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                    {% else %}
                      {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                      {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                    {% endif %}
                  </a>
                </div>
              </div>
            </section>
        {% endcapture %}
        {% if block.settings.grid_text_position == 'right' %}
          {{ right_text }}
        {% endif %}
        {% if block.settings.grid_text_position == 'left' %}
          {{ left_text }}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% if grid_layout == 'standard' %}</div>{% endif %}
</div>
