{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-featured-product' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign collection = collections[object.settings.frontpage_collection] %}
{% assign products = collection.products %}
{% assign products_per_row = object.settings.frontpage_products_per_row %}

<div class="container content">
  <div class="section homepage_content clearfix">
    <div class="sixteen columns">
      {% if object.settings.title != blank %}
        <h2 class="title">
          <a href="{{ collections[object.settings.frontpage_collection].url }}">
            {{ object.settings.title | escape }}
          </a>
        </h2>
        <div class="feature_divider"></div>
      {% endif %}

      {% if products.size > 0 %}
        {% assign limit = object.settings.frontpage_products_limit %}
        {% include 'product-loop', limit: limit %}
      {% else %}
        {% assign limit = object.settings.frontpage_products_limit %}
        <div class="featured-collection--placeholder clearfix">
          {% for i in (1..limit) %}
            <div class=" {% if products_per_row == 2 %} eight columns {% elsif products_per_row == 3 %} one-third column {% elsif products_per_row == 4 %} four columns {% endif %} thumbnail">
              <a href="#">
                <div class="relative product_image">
                  {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                  {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
                </div>
                <div class="info">
                  <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                    <span class="price">
                    <span class="money">$49.60</span>
                  </span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
