{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign map_address = block.settings.map_address %}
  {% assign title = block.settings.title %}
  {% assign address_and_hours = block.settings.address_and_hours %}
  {% assign store_hours = block.settings.store_hours %}
  {% assign info_text_color = block.settings.info_text_color %}
  {% assign info_color = block.settings.info_color %}
  {% assign image = block.settings.image %}
  {% assign text_alignment = block.settings.text_alignment %}
  {% assign map_position = block.settings.map_position %}
  {% assign zoom_level = block.settings.zoom_level %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign api_key = block.settings.api_key %}
  {% assign show_pin = block.settings.show_pin %}
  {% assign button_label = block.settings.button_label %}
  {% assign map_style = block.settings.map_style %}
{% else %}
  {% assign id = section.id %}
  {% assign map_address = section.settings.map_address %}
  {% assign title = section.settings.title %}
  {% assign address_and_hours = section.settings.address_and_hours %}
  {% assign store_hours = section.settings.store_hours %}
  {% assign info_text_color = section.settings.info_text_color %}
  {% assign info_color = section.settings.info_color %}
  {% assign image = section.settings.image %}
  {% assign text_alignment = section.settings.text_alignment %}
  {% assign map_position = section.settings.map_position %}
  {% assign zoom_level = section.settings.zoom_level %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign api_key = section.settings.api_key %}
  {% assign show_pin = section.settings.show_pin %}
  {% assign button_label = section.settings.button_label %}
  {% assign map_style = section.settings.map_style %}
{% endif %}

<div class="clearfix map--container {% unless wide_display == true %}container{% endunless %}">
  <section class="{% unless wide_display == true %}sixteen columns{% endunless %} ">
    <div class="mapLayout mapLayout--{{ map_position }} map-hours--{{ store_hours }}">
      <div class="mapLayout--display map--{{ id }}">
        {% if map_address != blank and api_key != blank %}
          {% if api_key != blank %}
            <div class="map maps {% if api_key %}js-api-map{% endif %}" id="map-{{ section.id }}"
                 data-address="{{ map_address | strip_html }}"
                 data-zoom="{{ zoom_level }}"
                 data-pin="{{ show_pin }}"
                 data-id="map-{{ section.id }}"
                 data-style="{{ map_style }}"
                 data-api-key="{{ api_key }}"
                 data-directions-address="{{ map_address | strip_html | handleize | replace: '_', '+' | replace: ' ', '+'}}">
            </div>
          {% else %}
            <div class="maps">
              <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if map_address != blank %}{{ map_address | strip_html | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ zoom_level }}&amp;output=embed"></iframe>
            </div>
          {% endif %}
        {% elsif map_address != blank and api_key == blank %}
          <div class="maps">
            <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if map_address != blank %}{{ map_address | strip_html | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ zoom_level }}&amp;output=embed"></iframe>
          </div>
        {% else %}
          {% if image %}
            {% include 'image-element', image: image, alt: image.alt %}
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
          {% endif %}
        {% endif %}
      </div>

      {% if store_hours != blank %}
        <div class="mapLayout--info" style="color: {{ info_text_color }}; background-color: {{ info_color }}">
          <div class="info align_{{ text_alignment }}">
              {% if title != blank %}
                <h2 class="title align_{{ text_alignment }}" style="color: {{ info_text_color }};">
                  {{ title | escape }}
                </h2>
              {% endif %}
              {% if address_and_hours != blank %}
                {{ address_and_hours }}
              {% endif %}
            {% if button_label != blank %}
              <a href="" class="js-map-link action_button mapLayout--directions">
                {{ button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
</div>

<style>
  .map--{{ id }} .maps,
  .map--{{ id }} .maps iframe,
  .map--{{ id }} img.lazyload--fade-in.lazyloaded,
  .map--{{ id }} .placeholder-svg {
    height: 400px;
  }
</style>
