{% if sidebar %}
  <div class="{% if products_per_row == 2 %}six columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}four columns {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}three columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %} swap-{{ settings.collection_secondary_image }}" data-initial-width="{% if products_per_row == 2 %}eight{% elsif products_per_row == 3 %}one-third{% elsif products_per_row == 4 %}four{% endif %}" data-sidebar-width="{% if products_per_row == 2 %}six{% elsif products_per_row == 3 %}four{% elsif products_per_row == 4 %}three{% endif %}">
{% else %}
  <div class="{% if products_per_row == 2 %}eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %} swap-{{ settings.collection_secondary_image }}" data-initial-width="{% if products_per_row == 2 %}eight{% elsif products_per_row == 3 %}one-third{% elsif products_per_row == 4 %}four{% endif %}" data-sidebar-width="{% if products_per_row == 2 %}six{% elsif products_per_row == 3 %}four{% elsif products_per_row == 4 %}three{% endif %}">
{% endif %}

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% assign featured_image = product.featured_media %}
  {% assign static_image = product.featured_media.preview_image %}
  {% assign images = product.media %}
  {% if product.featured_image.alt contains 'youtube' or product.featured_image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_media.alt | escape %}
  {% endif %}

  <a href="{{ product.url | within: collection }}">
    <div class="relative product_image">

      <div class="product_container {% if settings.collection_secondary_image != blank and images[1] != blank %}swap-{{ settings.collection_secondary_image }}{% else %}swap-false{% endif %}">
        <div class="image__container">
          {% if settings.thumbnail_border_enabled %}
            <div class="image__border">
          {% endif %}
          {% include 'image-element', image: static_image, alt: alt_text, object_fit: settings.align_height %}
          {% if settings.collection_secondary_image != blank and images[1] != blank %}
            {% assign youtube_video = product.media | where: "media_type", "external_video" %}
            {% assign html5_video = product.media | where: "media_type", "video" %}

            {% if youtube_video.first %}
              <div class="external-video__container lazyload video-on-hover" data-youtube-video>
                {{ youtube_video.first | external_video_tag }}
              </div>
            {% elsif html5_video.first %}
              <div class="video__container lazyload video-on-hover" data-html5-video>
                {{ html5_video.first | video_tag: controls: false }}
              </div>
            {% else %}
              {% include 'image-element', image: images[1].preview_image, alt: alt_text, additional_classes: 'secondary lazypreload' %}
            {% endif %}
          {% endif %}

          {% if settings.thumbnail_border_enabled %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="quick_shop_container">
        {% if settings.quick_shop_enabled %}
          <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop action_button" data-gallery="product-{{ product.id }}-gallery">
            {{ 'collections.general.quick_shop' | t }}
          </span>
        {% endif %}
      </div>
    </div>

    <div class="info">
      <span class="title">{{ product.title }}</span>
      {% if settings.enable_shopify_collection_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      {% if settings.display_vendor_collection %}
        <span class="vendor">{{ product.vendor }}</span>
      {% endif %}

      {% if collection_handles contains 'coming-soon' %}
        <p class="price">{{ 'collections.general.coming_soon' | t }}</p>
      {% else %}
        <p class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
          {% if product.available %}
            {% if product.price_varies and product.price_min > 0 %}
              <small><em>{{ 'products.general.from' | t }}</em></small>
            {% endif %}
            {% if product.price_min > 0 %}
              <span class="money">{{ product.price_min | money }}</span>
            {% else %}
              {{ settings.free_price_text }}
            {% endif %}
            {% if product.compare_at_price_max > product.price %}
              <span class="was_price">
                <span class="money">{{ product.compare_at_price_max | money }}</span>
              </span>
            {% endif %}
          {% else %}
            <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
        </p>
      {% endif %}

    </div>
    {% include 'product-thumbnail__sticker' %}
  </a>
  {% include 'collection-swatch' %}
</div>

{% if settings.quick_shop_enabled %}
  {% if product.description contains "#tab1" %}
    {% assign tabs = true %}
  {% else %}
    {% assign tabs = false %}
  {% endif %}

  <div id="product-{{ product.id }}" class="modal js-product_section product-{{ product.id }} product_section quick-shop-modal"
       data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
       data-thumbnails-enabled="{{ settings.display_thumbnails }}"
       data-gallery-arrows-enabled="{{ settings.gallery_arrows }}"
       data-slideshow-speed="{{ settings.slideshow_speed }}"
       data-slideshow-animation="{{ settings.slideshow_transition }}"
       data-thumbnails-position="{{ settings.thumbnail_position }}"
       data-thumbnails-slider-enabled="{{ settings.enable_thumbnail_slider }}"
       data-activate-zoom="{{ settings.activate_zoom }}"
       data-quickshop-gallery>
    <div class="container section" style="width: inherit">
      <div class="seven columns" style="padding-left: 15px">
        {% include 'product-images' with 'modal', video_looping: settings.video_looping, quickshop: true %}
      </div>
      <div class="six columns">
        <h3>{{ product.title }}</h3>
        {% if settings.enable_shopify_collection_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
        {% if settings.display_vendor_collection %}
          <p class="vendor">
            <span>{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% assign variant = product.selected_or_first_available_variant %}

        {% if collection_handles contains 'coming-soon' %}
          <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
        {% else %}
          <p class="modal_price">
            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                  <span class="money">{{ variant.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
            {% if variant.price < variant.compare_at_price and variant.available %}
              <span class="money">{{ variant.compare_at_price | money }}</span>
            {% endif %}
            </span>
          </p>

          {% include 'product-notify-me' %}
        {% endif %}

        {% if settings.product_description_position == "top" %}
          {% if settings.description_words == "none" %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            {% if tabs %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% else %}
              <p>{{ product.description | truncatewords: settings.description_words }}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
          <hr />
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form', show_payment_button_quickshop: settings.show_payment_button %}
        {% endunless %}

        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.description_words == "none" %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            {% if tabs %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% else %}
              <p>{{ product.description | strip_html | truncatewords: settings.description_words }}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
