{% if product.available %}

  {% if section.settings.show_payment_button %}
    {% assign show_payment_button = true %}
  {% elsif show_payment_button_quickshop %}
    {% assign show_payment_button = true %}
  {% else %}
    {% assign show_payment_button = false %}
  {% endif %}

  {% assign variant = product.selected_or_first_available_variant %}

  <div class="clearfix product_form init
        {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
        id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
        data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        {% if settings.limit_quantity or settings.display_inventory_left %}
          data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
        {% endif %}
        data-product-id="{{ product.id }}">
    {% form 'product', product %}

    {% include 'size-chart-popup' %}

    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endif %}

    {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch' with option %}
        {% endfor %}
      </div>
    {% endif %}

    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            <p>{{ variant.inventory_quantity }} {{ items_left_text }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {% if settings.bold_enabled %}
      <div class="bold_options" data-product-id="{{ product.id }}"></div>
    {% endif %}

    {% assign no-mods = false %}
    {% for tag in product.tags %}
      {% if tag == "no-mods" %}
        {% assign no-mods = true %}
      {% endif %}
    {% endfor %}
    {% if no-mods == false %}
      <div>
        <div style="font-family: proxima-nova, sans-serif; font-size: 18px; margin-bottom: 10px 0 20px 0; line-height: 18px; margin-bottom: 8px;">
          <span style="font-weight: bold;">
            Special Instructions
          </span><br>
          <span style="font-size: 0.8em;">
            Note: Addons (e.g. extras, drinks and sides) will not be honored
          </span>
        </div>
        <textarea name="properties[_Modifications]"></textarea>
      </div>
    {% endif %}

    <div class="purchase-details smart-payment-button--{{ show_payment_button }}">
      {% if settings.display_product_quantity %}
        <div class="purchase-details__quantity">
          <label class="visuallyhidden" for="quantity">{{ 'products.product.quantity' | t }}</label>
          <span class="product-minus js-change-quantity js-change-quantity__minus" data-func="minus"><span class="icon-minus"></span></span>
          <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
          <span class="product-plus js-change-quantity js-change-quantity__plus" data-func="plus"><span class="icon-plus"></span></span>
        </div>
      {% endif %}

      <div class="purchase-details__buttons">
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}

        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
        <button type="{% if settings.cart_action == 'ajax' %}button{% else %}submit{% endif %}" name="add" class="{% if settings.cart_action == 'ajax' %} ajax-submit {% endif %}action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}
      </div>
    </div>
    <div class="continue_shopping">
      <a {% if product-form %}href="{% if collection.url != blank %}{{ collection.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}"{% else %}href="javascript:void(0);" class="close"{% endif %}>{{ 'layout.general.continue_shopping' | t }}</a> {{ 'layout.general.or' | t }} {{ 'layout.general.view_cart_html' | t }}
    </div>
  {% endform %}
</div>
{% endif %}
