<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    {% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' or product.type == 'Virtual' %}
      <meta name='robots' content='noindex,nofollow'>
    {% else %}
      <meta name="robots" content="index,follow">
    {% endif %}
    <link rel="stylesheet" href="https://use.typekit.net/ovy8blz.css">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Stylesheets for Mobilia 6.2.0 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <!-- THIS IS MY CUSTOM CSS -->
      {{ 'theme-custom.css' | asset_url | stylesheet_tag }}
    <!-- END NEW CODE  -->

    <!-- Favicons -->
    {% include 'favicons' %}

    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
    {{ content_for_header }}

    {% if settings.bold_enabled %}
      {%- render 'bold-common' -%}
    {% endif %}

    <noscript>
      <style>
        .image__fallback {
          width: 100vw;
          display: block !important;
          max-width: 100vw !important;
          margin-bottom: 0;
        }
        .no-js-only {
          display: inherit !important;
        }
        .icon-cart.cart-button {
          display: none;
        }
        .lazyload {
          opacity: 1;
          -webkit-filter: blur(0);
          filter: blur(0);
        }
        .animate_right,
        .animate_left,
        .animate_up,
        .animate_down {
          opacity: 1;
        }
        .product_section .product_form {
          opacity: 1;
        }
        .multi_select,
        form .select {
          display: block !important;
        }
        .swatch_options {
          display: none;
        }
      </style>
    </noscript>
    <!-- begin Zapiet Store Pickup App -->
    {% include "storepickup" %}
    <!-- end Zapiet Store Pickup App -->
  <!-- Zapiet | Store Pickup + Delivery -->
{% include 'storepickup' %}
<!-- Zapiet | Store Pickup + Delivery -->
    
    {{ 'custom.js' | asset_url | script_tag }}
</head>
  <body class="{{ template | replace: '.', '-' | handle }}"
    data-money-format="{{ shop.money_format }}"
    data-shop-currency="{{ shop.currency }}">

    {% section 'header' %}

    <div {% unless template contains "index" or template contains "article" or template contains "banner" or template contains "page.details" or template contains 'contact' or template contains 'faq' %}class="container"{% endunless %}>
        {{ content_for_layout }}
    </div> <!-- end container -->

    {% include 'cart-shipping-calculator' %}
    {% section 'footer' %}

    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% if settings.show_multiple_currencies %}
      {% include 'currencies' %}
    {% endif %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
  </body>

<!-- Makes Sure PDF Menus open in New Tab -->
    <script>
		jQuery('a[href^="http"], a[href$=".pdf"').not('a[href*="{{ shop.url }}"]').attr('target', '_blank');
	</script>
  
</html>
