{% comment %}
** Cart page - main content area **
- Template section
{% endcomment %}

{% assign true-cart-count = 0 %}
{% assign true-cart-total = 0 %}
{% for item in cart.items %}
  {% unless item.product.type == "Virtual" %}
    {% assign true-cart-count = true-cart-count | plus: item.quantity %}
    {% assign true-cart-total = true-cart-total | plus: item.original_line_price %}

    {% assign prices = item.properties["_boldVariantPrices"] %}
    {% if prices != blank %}
      {% assign prices = prices | split: "," %}
      {% for price in prices %}
        {% assign mult = price | times: item.quantity %}
        {% assign true-cart-total = true-cart-total | plus: mult %}
      {% endfor %}
    {% endif %}

  {% endunless %}
{% endfor %}

<script>

function doAjax(url, callback, data) {
    var xhr = new XMLHttpRequest();
    xhr.open(data ? "POST" : "GET", url);
    if (callback) xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) callback(xhr.response,
            xhr.status === 0 || xhr.status >= 200 && xhr.status < 400);
    };
    if (data) {
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(data));
    } else xhr.send();
}

function changeQuantity(variant_id, quantity) {
    doAjax(
        "/cart/update.js",
        function() { location.reload(); },
        { updates: { [variant_id]: quantity } }
    );
}

</script>
<style>

.tipText {
    color      : #323232;
    font-family: proxima-nova, sans-serif;
    font-size  : 20px;
    font-weight: normal;
}

.tipType {
    border       : 1px solid #c1c1c1;
    border-radius: 5px;
    cursor       : pointer;
    font-size    : 20px;
    height       : 26px;
    line-height  : 26px;
    width        : 26px;
}

.tipType.active {
    background: #eeeeee;
}

.errorText {
    font-family: {{ settings.regular__font.family }}, {{ settings.regular__font.fallback_families }};
    font-size: 14.4px;
    color: #cc0000;
}

#appWrap p {
    line-height: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 799px) {
    .tipBox   { width: 100%; }
    .tipLabel { text-align: right; }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 798px) {
    .tipBox { width: 100px; }
}

.picker__list-item {
    box-sizing: border-box;
}

</style>

<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'cart.general.title' | t }}</h1>
  <!--<div style="font-size: 16px; color: #9d6704;">
    It’s Giveback Tuesday. 100% of the proceeds from all sales will go to the June Jessee Memorial Foundation.
  </div>-->
</div>

<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    {% if true-cart-count != 0 %}
       <a href="/collections/menu"><span class="icon-arrow-left"></span> {{ 'cart.general.continue_shopping_link_html' | t }}</a>
    {% endif %}
  </div>
</div>

{% if true-cart-count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
      <br class="clear" />
      <br class="clear" />
    </div>
  </div>
{% else %}
  <div class="sixteen columns">
    <form action="{{ routes.cart_url }}" method="post" id="cart_form">
      <div class="checkout_table_header">
        <div class="eight columns alpha">
          <h4>{{ 'cart.general.item' | t }}</h4>
        </div>

        <div class="two columns">
          <h4>{{ 'cart.general.price' | t }}</h4>
        </div>

        <div class="two columns">
          <h4>{{ 'cart.general.quantity' | t }}</h4>
        </div>

        <div class="four columns omega">
          <h4>{{ 'cart.general.total' | t }}</h4>
        </div>

        <div class="clear"></div>
      </div>

      <style>
        .bold_cart_edit_button, .bold_option_edit_container>div>button {
          display   : table;
          margin-top: 4px;
          width     : auto;
        }
        .bold_option_edit_container {
            color      : rgb(84, 84, 84);
            font-size  : 18px;
            line-height: 18px;
            margin     : 11px 0 0 0;
        }
      </style>

      <ul class="none">
        {% for item in cart.items %}
        {% unless item.product.type == "Virtual" %}
          <li>
            <div class="eight columns title_column alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_image">
                {% if item.product.media %}
                  {% include 'image-element', image: item.product.featured_media.preview_image, alt: item.title %}
                {% endif %}
              </a>

              <p class="cart_price">
                <span class="money">{{ item.price | money }}</span>
              </p>
              <p>
                <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
              </p>

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if settings.bold_enabled %}
                <div id="mine">
                  <script>
                    {% if item.properties %}
                      {% assign bold-names    = item.properties["_boldVariantNames" ] %}
                      {% assign bold-variants = item.properties["_boldVariantIds"   ] %}
                      {% assign bold-prices   = item.properties["_boldVariantPrices"] %}
                      {% if bold-names != blank and bold-variants != blank and bold-prices != blank %}
                        {% assign bold-names    = bold-names    | split: "," %}
                        {% assign bold-variants = bold-variants | split: "," %}
                        {% assign bold-prices   = bold-prices   | split: "," %}
                        document.write("Addons: ");
                        {% for name in bold-names %}
                          document.write(
                            {{ bold-names[forloop.index0] | json }} +
                            " ($" + ({{ bold-prices[forloop.index0] }} / 100 * {{ item.quantity }}).toFixed(2) + ")"
                            {% unless forloop.last %}+ ", "{% endunless %}
                          );
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  </script>
                </div>
                {% comment %}
                <div style="font-size: 1px; color: transparent; line-height: 1px;">
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>
                  {% assign propertySize = item.properties | size %}
                  {% if propertySize > 0 %}
                    {% for p in item.properties %}
                        {% assign first_character_in_key = p.first | truncate: 1, '' %}
                        {% unless p.last == blank or first_character_in_key == '_' %}
                          {{ p.first }}:
                          {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                              {{ p.last }}
                          {% endif %}
                        {% endunless %}
                    {% endfor %}
                  {% endif %}
                </div>
                {% endcomment %}
              {% else %}
                {% if item.properties %}
                  <p>
                  {% for p in item.properties %}
                    {% unless p.last == blank or p.first == "_ZapietId" %}
                      {% if p.last contains '/uploads/' %}
                        {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
                      {% else %}
                        {{ p.first }}: {{ p.last }}<br />
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                  </p>
                {% endif %}
              {% endif %}

              {% if item.properties and item.properties["_Modifications"] %}
                {% assign mods = item.properties["_Modifications"] | strip %}
                {% if mods != "" %}
                  <div style="margin: 10px 0 0 0;">
                    Modifications: {{ mods }}
                  </div>
                {% endif %}
              {% endif %}

            </div>

            <div class="two columns">
              <span class="price-total">
                {% if item.line_level_discount_allocations.size > 0 %}
                  <span class="money">
                    {% if settings.bold_enabled %}
                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                    {% endif %}
                    {{ item.final_price | money }}
                  </span>
                {% endif %}
                <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                  {{ item.original_price | money }}
                </span>
              </span>

              {% if item.line_level_discount_allocations.size > 0 %}
                {% for discount_allocation in item.line_level_discount_allocations %}
                  <span>
                    <b>{{ 'cart.general.discount' | t }}:</b> {{ discount_allocation.discount_application.title }} (- <span class="money">{{ discount_allocation.amount | money }}</span>)
                  </span>
                {% endfor %}
              {% endif %}
            </div>

            <div class="two columns mobile_right" id="quantity_{{ forloop.index }}">
              <span class="quantity_label">{{ 'cart.general.quantity' | t }}:</span>
              <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" onchange="changeQuantity({{ item.variant_id }}, parseInt(this.value));" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
              <span class="price-total-text">
                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">{{ 'cart.general.remove' | t }}</a>
              </span>
            </div>

            <div class="four columns mobile_right omega">
              <span class="price-total">
                <div class="price-total__container">
                  {% if item.line_level_discount_allocations.size > 0 %}
                    <span class="money">
                      {% if settings.bold_enabled %}
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
                      {% endif %}
                      {{ item.final_line_price | money }}
                    </span>
                  {% endif %}
                  <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                    {% comment %} {{ item.original_line_price | money }}{% endcomment %}
                    {% assign this-price = item.price %}
                    {% if settings.bold_enabled and item.properties and item.properties["_boldVariantPrices"] %}
                        {% assign prices = item.properties["_boldVariantPrices"] | split: "," %}
                        {% for price in prices %}
                            {% assign this-price = this-price | plus: price %}
                        {% endfor %}
                    {% endif %}
                    {% assign this-price = this-price | times: item.quantity %}
                    {{ this-price | money }}
                  </span>
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" class="right mobile_hidden remove"><span class="icon-close"></span></a>
                </div>
              </span>
            </div>

            <div class="sixteen columns clearfix alpha omega">
              <hr />
            </div>
          </li>
        {% endunless %}
        {% endfor %}
      </ul>

      {% if cart.cart_level_discount_applications != blank %}
        <div class="twelve columns alpha">
          <h4 class="discount">
            {{ 'cart.general.discount' | t }}
          </h4>
        </div>

        <div class="four columns">
          {% for discount_application in cart.cart_level_discount_applications %}
            <h4 class="discount-price">
               (- <span class="money">{{ discount_application.total_allocated_amount | money }}</span>) {{ discount_application.title }}
            </h4>
          {% endfor %}
        </div>
      {% endif %}

      <div class="twelve columns alpha tipText tipLabel">
        <i class="fa fa-fw fa-thumbs-up" style="color: rgb(100, 200, 100);"></i>
        {{ 'cart.general.tip' | t }}
      </div>

      <div class="two columns" style="display: flex;">
        <span id="lblTipExact" class="tipText" style="align-self: center; display: none;">$&nbsp;</span>
        <input id="txtTipAmount" class="tipText tipBox" value="" style="margin: 0; padding: 4px;">
        <span id="lblTipPercent" class="tipText" style="align-self: center;">&nbsp;%</span>
        <div class="mobile_only" style="text-align: right; flex-grow: 1;">
          <label style="display: inline-block;" for="optTipExact">
            <i id="btnTipExact" class="tipType fa fa-fw fa-dollar" title="Exact amount"></i>
          </label>
          <label style="display: inline-block;" for="optTipPercent">
            <i id="btnTipPercent" class="tipType fa fa-fw fa-percent active" title="Percentage"></i>
          </label>
        </div>
      </div>
      <div class="two columns omega mobile_hidden" style="text-align: right;">
        <input id="hdnTipType"   type="hidden" value="0">
        <input id="hdnTipAmount" type="hidden" value="0">
        <label style="display: inline-block;">
          <input id="optTipExact" type="radio" name="optTipType" style="display: none;">
          <i id="btnTipExact2" class="tipType fa fa-fw fa-dollar" title="Exact amount"></i>
        </label>
        <label style="display: inline-block;">
          <input id="optTipPercent" type="radio" name="optTipType" style="display: none;" checked="true">
          <i id="btnTipPercent2" class="tipType fa fa-fw fa-percent active" title="Percentage"></i>
        </label>
      </div>
      
      <div id="rowTipAmount">
        <div class="twelve columns alpha mobile_hidden">&nbsp;</div>
        <div id="lblTipAmount" class="four columns omega tipText">-</div>
      </div>

      <div class="sixteen columns clearfix alpha omega mobile_only">
        <hr />
      </div>

      <div class="twelve columns alpha">
        <h4 class="subtotal">{{ 'cart.general.subtotal' | t }}</h4>
      </div>

      <div class="four columns omega">
        <h4 class="subtotal-price">
          <span id="cartSubtotal" class="money" style="white-space: nowrap;">
            {% comment %}
            {% if settings.bold_enabled %}
              <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
            {% endif %}
            {% endcomment %}
            {{ true-cart-total | money_with_currency }}
          </span>
        </h4>
      </div>

      {% if section.settings.display_special_instructions %}
        <div class="ten columns alpha">
          <label for="note">
            <span id="lblNoteDelivery" style="font-size: 16px; display: none;">Special delivery instructions</span>
            <span id="lblNotePickup"   style="font-size: 16px;">Please describe your car (make, model, color) <span style="color: #cc0000">*Required</span></span>
          </label>
          <textarea id="note" name="note" rows="4">{{ cart.note }}</textarea>
        </div>
      {% endif %}

      <div class="four columns {% if section.settings.display_special_instructions %}offset-by-two omega{% else %}offset-by-twelve alpha omega{% endif %}">
        {% comment %}
        <small id="estimated-shipping" style="display:none">+ <em><span class="money">{{ 0 | money }}</span></em> {{ 'cart.shipping_calculator.estimated_shipping' | t }}</small>
        {% endcomment %}

        <p>
          <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>

          {% if settings.show_multiple_currencies %}
            <small>
              <em>{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}</em>
            </small>
          {% endif %}

          {% if settings.display_tos_checkbox %}
            <div class="tos_checkbox">
              <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <label class="tos_label" for="cart_agree">
                {% if settings.tos_richtext != blank %}
                  {{ settings.tos_richtext }}
                {% else %}
                  {{ 'cart.general.agree_to_terms_html' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}
        </p>


        <p id="allAllNone" class="errorText" style="display: none;">
          We have sold out all pickup <!--and delivery--> times at our locations for today. We apologize for the inconvenience.
        </p>

        <p id="allAllClosed" class="errorText" style="display: none;">
          Our locations are closed for the day. <a href="/pages/hours-locations" style="text-decoration: underline;">Click here</a> for our restaurant hours.
        </p>

        <div id="appWrap" style="display: none;">

          <!-- Zapiet Store Pickup app -->
          <div id="storePickupApp"></div>
          <!-- end Zapiet Store Pickup app -->
          
          <div id="spinWait" style="text-align: center; display: none;">
              <div class="spinnerContainer"><i class="fa fa-spinner fa-spin"></i></div>
          </div>
          
          <p id="tipNone" class="errorText" style="display: none;">
            Please enter a Tip value of at least $1 or 1%.
          </p>
          <p id="carNone" class="errorText" style="display: none;">
            Please enter a description of your car.
          </p>
          
          <p id="pickupAllNone" class="errorText" style="display: none;">
            There are currently no curbside pickup times available at our locations. We apologize for the inconvenience.
          </p>
          <p id="pickupLocationNone" class="errorText" style="display: none;">
            There are currently no curbside pickup times available at this location. Please consider our other location.
          </p>
          <p id="pickupAllClosed" class="errorText" style="display: none;">
            We are not offering curbside pickup at our locations today. We apologize for the inconvenience.
          </p>
          <p id="pickupLocationClosed" class="errorText" style="display: none;">
            We are not offering curbside pickup at this location today. Please consider our other location.
          </p>
          
          <p id="deliveryAllNone" class="errorText" style="display: none;">
            There are currently no delivery times available at our locations. Please consider Curbside Pickup.
          </p>
          <p id="deliveryLocationNone" class="errorText" style="display: none;">
            There are currently no delivery times available for your area. Please consider Curbside Pickup.
          </p>
          <p id="deliveryAllClosed" class="errorText" style="display: none;">
            We are not offering delivery at our locations today. Please consider Curbside Pickup.
          </p>
          <p id="deliveryLocationClosed" class="errorText" style="display: none;">
            We are not offering delivery in your area today. Please consider Curbside Pickup.
          </p>
          
          <p id="timeNone" class="errorText" style="display: none;">
            The selected time is not available. Please select a different time.
          </p>
          
          <div style="display: none;">
            <input type="submit" class="action_button" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
          </div>
          <div id="checkoutWrap" class="add-to-cart-wrap" style="display: none;">
            <input type="button" id="btnCheckout" value="Checkout">
            {% comment %}
            {% if content_for_additional_checkout_buttons %}
              <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
               {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}
            {% endcomment %}
          </div>
        </div>

      </div>

    </form>
  </div>
  <script>
$(document).ready(function() {

    // Application variables
    var lastMethod   = "pickup"; // Most recent checkout type
    var selectedTime = null;     // Currently selected time entry
    var tipChanged   = false;    // Set when the tip needs to be updated
    var updating     = false;    // Performing an update before checkout

    // Element handles
    var allAllClosed         = document.getElementById("allAllClosed");
    var allAllNone           = document.getElementById("allAllNone");
    var appWrap              = document.getElementById("appWrap");
    var btnCheckout          = document.getElementById("btnCheckout");
    var btnTipExact          = document.getElementById("btnTipExact");
    var btnTipExact2         = document.getElementById("btnTipExact2");
    var btnTipPercent        = document.getElementById("btnTipPercent");
    var btnTipPercent2       = document.getElementById("btnTipPercent2");
    var carNone              = document.getElementById("carNone");
    var cartForm             = document.getElementById("cart_form");
    var checkoutWrap         = document.getElementById("checkoutWrap");
    var deliveryAllClosed    = document.getElementById("deliveryAllClosed");
    var deliveryAllNone      = document.getElementById("deliveryAllNone");
  var deliveryLocationClosed=document.getElementById("deliveryLocationClosed");
    var deliveryLocationNone = document.getElementById("deliveryLocationNone");
    var hdnTipAmount         = document.getElementById("hdnTipAmount");
    var hdnTipType           = document.getElementById("hdnTipType");
    var lblNoteDelivery      = document.getElementById("lblNoteDelivery");
    var lblNotePickup        = document.getElementById("lblNotePickup");
    var lblSubtotal          = document.getElementById("cartSubtotal");
    var lblTipAmount         = document.getElementById("lblTipAmount");
    var lblTipExact          = document.getElementById("lblTipExact");
    var lblTipPercent        = document.getElementById("lblTipPercent");
    var note                 = document.getElementById("note");
    var optTipExact          = document.getElementById("optTipExact");
    var optTipPercent        = document.getElementById("optTipPercent");
    var pickupAllClosed      = document.getElementById("pickupAllClosed");
    var pickupAllNone        = document.getElementById("pickupAllNone");
    var pickupLocationClosed = document.getElementById("pickupLocationClosed");
    var pickupLocationNone   = document.getElementById("pickupLocationNone");
    var rowTipAmount         = document.getElementById("rowTipAmount");
    var selectedTime         = document.getElementById("selectedTime");
    var spinWait             = document.getElementById("spinWait");
    var timeNone             = document.getElementById("timeNone");
    var tipNone              = document.getElementById("tipNone");

    // Initialize checkout type availability variants
    var METHODS = {
        pickup  : { closed: false, none: true },
        delivery: { closed: false, none: true },
                    closed: false, none: true
    };
    var TIMES = [];



    ///////////////////////////////////////////////////////////////////////////
    //                           Program Functions                           //
    ///////////////////////////////////////////////////////////////////////////

    // Register a new time into the METHODS and TIMES collections
    function addTime(now, method, location, time, id, available) {

        // Add a new time object to the collections
        time = {
            available: available && (parseTime(time)) >=
                now + (method == METHODS.pickup ? 30 : 60),
            id       : id,
            time     : time
        };
        TIMES.push(location[time.time] = time);

        // De-flag missing availability
        if (time.available)
            location.none = method.none = METHODS.none = false;
    }

    // Filter only the array values of an object
    function arrayFilter(o) {
        return Object.values(o).filter(
            function(e) { return Array.isArray(e); });
    }

    // Configure the list of times in the time picker
    function configureTimeList(location) {
        var items = document.querySelectorAll(".picker__list-item");
        for (var x = 0; x < items.length; x++) {
            var item = items[x];
            var time = location[item.getAttribute("aria-label")];

            // There is no variant for the current time
            if (!time) {
                item.style.display = "none";
                continue;
            }

            // The time is not available
            if (!time.available) {
                item.style.background         = "#dddddd";
                item.style.pointerEvents      = "none";
                item.style.textDecorationLine = "line-through";
                continue;
            }

            // Time is available
            item.style.display            = "";
            item.style.background         = "";
            item.style.pointerEvents      = "";
            item.style.textDecorationLine = "";
        }
    }

    // Initialize the METHODS and TIMES collections
    function initTimes(now) {
        var method, location;
        {% for p in collections["checkout-types"].products %}
            {% for t in p.tags %}
                {% if t == "delivery" %}method = METHODS.delivery;{% endif %}
                {% if t == "pickup"   %}method = METHODS.pickup;  {% endif %}
            {% endfor %}
            {% for t in p.tags %}
                {% if t != "delivery" and t != "pickup" %}
                    method[{{ t }}] = location = { closed: false, none: true };
                {% endif %}
            {% endfor %}
            {% for v in p.variants %}
                addTime(now, method, location, {{ v.title | json }}, {{ v.id }}, {{ v.available }});
            {% endfor %}
        {% endfor %}
    }

    // Filter only the object values of an object
    function objectFilter(o) {
        return Object.values(o).filter(
            function(e) { return typeof e == "object"; });
    }

    // Convert a time of day string into a comparable number
    function parseTime(time, twentyFour) {
        try {
            var colon  = time.indexOf(":");
            var hour   = parseInt(time.substring(0, colon))
                % (twentyFour ? 24 : 12);
            var minute = parseInt(time.substring(colon + 1, time.indexOf(" ")));
            if (!twentyFour && time.endsWith("PM")) hour += 12;
            var ret = hour * 60 + minute;
            return ret;
        } catch(e) { return 0; }
    }

    // Show or hide an element
    function setVisible(element, visible) {
        if (typeof element == "string")
            element = document.getElementById(element);
        element.style.display = visible ? "block" : "none";
    }

    // Perform validation on the form
    function validateForm(submitting) {
        if (updating) return false;
        var valid = true;

        // Validate tip
        if (parseInt(hdnTipAmount.value) == 0) {
            setVisible(tipNone, true);
            txtTipAmount.style.borderColor = "#ff0000";
            valid = false;
        } else {
            setVisible(tipNone, false);
            txtTipAmount.style.borderColor = "";
        }

        // Validate car description
        if (lastMethod == "pickup" && note.value.trim().length == 0) {
            setVisible(carNone, true);
            note.style.borderColor = "#ff0000";
            valid = false;
        } else {
            setVisible(carNone, false);
            note.style.borderColor = "";
        }

        // Validate time
        if (selectedTime && !selectedTime.available) {
            setVisible(timeNone, true);
            valid = false;
        } else setVisible(timeNone, false);

        // Check for error messages
        var errors = document.querySelectorAll(".errorText");
        for (var x = 0; valid && x < errors.length; x++)
            valid = errors[x].style.display == "none";

        // Display or hide the checkout button
        setVisible(checkoutWrap,
            valid && window.Zapiet.Widget.checkoutEnabled());

        // Do not update the tip amount in the cart
        if (!valid || !tipChanged || !submitting)
            return valid;

        // Update the tip amount in the cart
        updating = true;
        doAjax("/cart/update.js", function(response, success) {
            jQuery('.action_button.bold_clone').click();
        }, { updates: {
            [{{ all_products["gratuity"].variants[0].id }}]:
            parseInt(hdnTipAmount.value)
        }});
        return false;
    }



    ///////////////////////////////////////////////////////////////////////////
    //                          Tip Event Handlers                           //
    ///////////////////////////////////////////////////////////////////////////

    // Event handler for tip amount
    function onTipAmount() {
        var type = parseInt(hdnTipType.value);

        // Schedule a cart update
        tipChanged = true;

        // Nothing was entered
        var amt = txtTipAmount.value.trim();
        if (amt.trim().length == 0) {
            hdnTipAmount.value = 0;
            lblTipAmount.innerText = "-";
            lblSubtotal.innerText = "$" +
                ({{ true-cart-total }} / 100).toFixed(2) + " USD";
            return;
        }
        amt = parseFloat(amt);

        // Handling for percent
        if (type == 0) {
            var percent = amt;
            amt = Math.round(amt / 100 * {{ true-cart-total }});
            hdnTipAmount.value = percent >= 1 ? amt : 0;
        }

        // Handling for exact
        if (type == 1) {
            amt = Math.round(amt * 100);
            hdnTipAmount.value = amt >= 100 ? amt : 0;
            txtTipAmount.value = (amt / 100).toFixed(2);
        }

        // Common handling
        lblTipAmount.innerText = "$" + (amt / 100).toFixed(2);
        lblSubtotal .innerText =
            "$" + ((amt + {{ true-cart-total }}) / 100).toFixed(2) + " USD";

        // Update validation status
        validateForm(false);
    }

    // Event handler for tip type
    function onTipType(type) {
        var prev = parseInt(hdnTipType.value);
        var amt  = parseInt(hdnTipAmount.value);

        // Configure elements
        var tipClass = "tipType fa fa-fw fa-percent" +
            (type == 0 ? " active" : "");
        btnTipPercent .className = tipClass;
        btnTipPercent2.className = tipClass;
        tipClass = "tipType fa fa-fw fa-dollar" +
            (type == 1 ? " active" : "");
        btnTipExact .className =  tipClass;
        btnTipExact2.className =  tipClass;
        hdnTipType.value = type;
        setVisible(rowTipAmount , type == 0);
        setVisible(lblTipPercent, type == 0);
        setVisible(lblTipExact  , type == 1);

        // There is no entry in the tip field
        if (txtTipAmount.value.trim().length == 0)
            return;

        // Convert from percent to exact
        if (type == 1 && prev == 0)
            txtTipAmount.value = (amt / 100).toFixed(2);

        // Convert from exact to percent
        if (type == 0 && prev == 1)
            txtTipAmount.value = Math.round(amt / {{ true-cart-total }} * 100);
    }

    // Configure DOM event handlers
    txtTipAmount.addEventListener("change", onTipAmount);
    note.addEventListener        ("change", function() {
        note.style.borderColor = "";
        setVisible(carNone, false);
        validateForm(false);
    });
    optTipPercent.addEventListener( "change", function() { onTipType(0); });
    optTipExact  .addEventListener( "change", function() { onTipType(1); });



    ///////////////////////////////////////////////////////////////////////////
    //                        Checkout Event Handlers                        //
    ///////////////////////////////////////////////////////////////////////////

    // Event handler for widget checkout method selected
    var selected_method = function(method) {

        // Hide all error messages and checkout button
        setVisible(checkoutWrap          , false);
        setVisible(deliveryAllClosed     , false);
        setVisible(deliveryAllNone       , false);
        setVisible(deliveryLocationClosed, false);
        setVisible(deliveryLocationNone  , false);
        setVisible(pickupAllClosed       , false);
        setVisible(pickupAllNone         , false);
        setVisible(pickupLocationClosed  , false);
        setVisible(pickupLocationNone    , false);
        setVisible(tipNone               , false);
        setVisible(carNone               , false);
        setVisible(spinWait              , false);
        setVisible(timeNone              , false);
        note        .style.borderColor = "";
        txtTipAmount.style.borderColor = "";

        // Display the appropriate note label
        lastMethod = method;
        setVisible(lblNoteDelivery, method == "delivery");
        setVisible(lblNotePickup  , method == "pickup"  );

        // Check if the current method is unavailable
        if (method == "pickup") {
            setVisible(pickupAllClosed, METHODS.pickup.closed);
            setVisible(pickupAllNone,
                METHODS.pickup.none && !METHODS.pickup.closed);
        } else {
            setVisible(deliveryAllClosed, METHODS.delivery.closed);
            setVisible(deliveryAllNone,
                METHODS.delivery.none && !METHODS.delivery.closed);
        }

    };
    window.ZapietEvent.listen("selected_method", selected_method);

    // Event handler for delivery available
    window.ZapietEvent.listen("delivery.timepicker.rendered", function() {

        // Hide error messages and checkout button
        setVisible(checkoutWrap          , false);
        setVisible(deliveryLocationClosed, false);
        setVisible(deliveryLocationNone  , false);

        // Fetch the delivery location from the Zapiet API
        doAjax(
            "https://api.zapiet.com/v4.0/delivery/locations" +
                "?shop={{ shop.permanent_domain }}&geoSearchQuery=" +
                document.getElementById("deliveryGeoSearchField").value,
            function(response, success) {
                var location = METHODS.delivery[JSON.parse(response).id];

                // Configure error message
                if (!METHODS.delivery.closed && !METHODS.delivery.none) {
                    setVisible(deliveryLocationClosed, location.closed);
                    setVisible(deliveryLocationNone,
                        location.none && !location.closed);
                }

                // Configure time list items
                configureTimeList(location);
            }
        );

    });

    // Event handler for pickup location selected
    var pickup_rendered = function(location) {
        location = location || METHODS.pickup[parseInt(document.querySelector(
            "input[name='location_id']:checked"
        ).value)];

        // Hide error message and hide checkout button
        setVisible(checkoutWrap        , false);
        setVisible(pickupLocationClosed, false);
        setVisible(pickupLocationNone  , false);

        // Configure error message
        if (!METHODS.pickup.closed && !METHODS.pickup.none) {
            setVisible(pickupLocationClosed, location.closed);
            setVisible(pickupLocationNone,
                location.none && !location.closed);
        }

        // Configure time list items
        configureTimeList(location);
    };
    window.ZapietEvent.listen("pickup.timepicker.rendered", pickup_rendered);

    // Event handler for checkout button active
    window.ZapietEvent.listen("checkoutEnabled", function(params) {
        setVisible(spinWait, true);
        setVisible(timeNone, false);

        // Prepare an object containing all updates to the cart
        var updates = { };
        for (var t = 0; t < TIMES.length; t++)
            updates[TIMES[t].id] = 0;
 
        // Handling for time slot
        var time = params.time + " -";
            time = time.substring(0, time.indexOf(" -"));
        var time = METHODS[params.method][params.location.id][time];
        if (time.available)
            updates[time.id] = 1;

        // Apply updates to the cart
        selectedTime = time;
        doAjax("/cart/update.js", function(success) {
            setVisible(checkoutWrap, validateForm(false));
            setVisible(spinWait    , false);
        }, { updates: updates } );

    });

    // Event handler for checkout button submit
    btnCheckout.addEventListener("click", function() { validateForm(true) });

    // Adjust initial tip value
    txtTipAmount.value    = "";
    optTipPercent.checked = true;
    optTipExact.checked   = false;

    // Fix for iOS behaviors
    window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            window.location.reload() 
        }
    });



    ///////////////////////////////////////////////////////////////////////////
    //                              App Startup                              //
    ///////////////////////////////////////////////////////////////////////////

    // Perform final initializations for the app
    function finalInit() {

        // 126892 - Rock Hill
        // 126898 - Town and Country
        //METHODS.pickup[126892].none = true;
        //METHODS.pickup[126898].closed = true;
        //METHODS.delivery[126892].closed = true;
        //METHODS.delivery[126898].closed = true;

        // Override: delivery is disabled
        //METHODS.pickup.none = true;
        METHODS.delivery.none = true;
        METHODS.none = METHODS.pickup.closed || METHODS.pickup.none;

        // Determine whether all locations are closed
        var methods = [ METHODS.delivery, METHODS.pickup ];
        for (var x = 0; x < methods.length; x++) {
            var method = methods[x];

            // Check all locations
            var locations = objectFilter(methods[x]);
            method.closed = true;
            for (var y = 0; y < locations.length; y++) {
                var location = locations[y];

                // Check whether the location is closed
                if (!location.closed) {
                    method.closed = false;
                    continue;
                }

                // Mark all times as sold-out
                var times = objectFilter(location);
                for (var z = 0; z < times.length; z++)
                    times[z].available = false;
                location.none = true;
            }

        }
        METHODS.closed = METHODS.delivery.closed && METHODS.pickup.closed;

        // Display the appropriate error message or the Zapiet widget
        if (METHODS.closed)
            setVisible(allAllClosed, true)
        else if (METHODS.none)
            setVisible(allAllNone, true);
        else {
            selected_method("pickup");
            pickup_rendered(objectFilter(METHODS.pickup)[0]);
            setVisible(appWrap, true);
        }
    }

    // Fetch the current date and time
    doAjax("https://theloft.biz/api/kppo/RightNow", function(response,success){
        var rightNow = success ? JSON.parse(response) :
            { time: 0, day: "sunday", date: [ 0, 0, 0 ] };
        initTimes(rightNow ? rightNow.time : 0);

        // Fetch the shop locations
        doAjax("https://api.zapiet.com/v4.0/pickup/locations?" +
            "shop={{ shop.permanent_domain }}", function(response, success) {
            if (!success)
                return finalInit();

            // Mark locations if they are closed today
            var locations = JSON.parse(response).locations;
            for (var x = 0; x < locations.length; x++) {
                var hours  = locations[x].opening_hours[rightNow.day];
                var closed = hours.closed ||
                    parseTime(hours.closes + " ", true) <= rightNow.time;
                METHODS.delivery[locations[x].id].closed = closed;
                METHODS.pickup  [locations[x].id].closed = closed;
            }

            // Build a list of URLs for blackout dates
            var urls = [];
            for (var x = 0; x < locations.length; x++)
            for (var m = 0; m < 2; m++) urls.push(
                "https://api.zapiet.com/v5.0/" +
                (m == 0 ? "pickup" : "delivery") +
                "/locations/" + locations[x].id +
                "/calendar?shop={{ shop.permanent_domain }}" +
                "&shoppingCart%5B0%5D%5Bvariant_id%5D=" +
                "{{ cart.items[0].variant_id }}"
            );

            // Query blackout dates
            var index = 0;
            var callback = function(response, success) {

                if (success) {
                    var locationId = locations[Math.floor(index / 2)].id;
                    var method     = (index & 1) ? "delivery" : "pickup";
                    var blackouts = arrayFilter(JSON.parse(response).disabled);

                    // Check whether the current date matches a blackout date
                    outer: for (var x = 0; x < blackouts.length; x++) {
                        for (var y = 0; y < 3; y++) {
                            if (blackouts[x][y] != rightNow.date[y])
                                continue outer;
                        }
                        METHODS[method][locationId].closed = true;
                        break;
                    }
                }

                // Fetch the next URL
                if (++index < urls.length) {
                    doAjax(urls[index], callback);
                    return;
                }

                // Finalize startup
                finalInit();
            };
            doAjax(urls[0], callback);
            
        });

    });

});

  </script>

{% endif %}


{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show 'note' text box",
      "default": false
    }
  ]
}

{% endschema %}
