<section class="contact-container">
  <div class="container">

    <div class="contact_form {% if section.settings.image %}contact_text_position--{{ section.settings.contact_text_position }}{% endif %} {{ section.settings.text_alignment }}">
      {% if section.settings.image %}
        <div class="eight columns contact_image">
          <div>
            {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt %}
          </div>
        </div>
      {% endif %}
      <div class="eight columns {% unless section.settings.image %}offset-by-four{% endunless %} contact_content">
        {% if section.settings.title != blank %}
          <h2 class="title {{ section.settings.text_alignment }}">
            {{ section.settings.title | escape }}
          </h2>
          <div class="feature_divider {{ section.settings.text_alignment }}"></div>
        {% endif %}
        {% if section.settings.contact_content != blank %}
          <div class="contact_text">
            {{ section.settings.contact_content }}
          </div>
        {% endif %}
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p class="quote">{{ 'contact.form.post_success' | t }}</p>
          {% endif %}

          {% if form.errors %}
            <p class="quote">{{ 'general.forms.post_error' | t }}</p>

           {% assign message = 'contact.form.message' | t %}
            <ul class="center">
              {% for field in form.errors %}
                {% if field == 'form' %}
                  <li>
                    {{ form.errors.messages[field] }}
                  </li>
                {% else %}
                  <li>
                    {% assign field_name = field | replace: 'body', message %}
                    {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
                  </li>
                {% endif %}
              {% endfor %}
             </ul>
          {% endif %}

           <div class="four columns alpha">
            {% assign name_attr = 'contact.form.name' | handle %}
            <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
            <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
           </div>
           <div class="four columns omega">
            <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
            <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
           </div>

          <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
          <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}" />
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}

{
  "name": "Contact form",
  "class": "contact-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "800 x 800px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Contact form"
    },
    {
      "type": "richtext",
      "id": "contact_content",
      "label": "Text",
      "default": "<p>Contact form description.</p>"
    },
    {
      "type": "select",
      "id": "contact_text_position",
      "label": "Form position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact form",
      "category": "Store information"
    }
  ]
}

{% endschema %}
