<div id="store-info" class="container">
  <div class="left-image col-margins">
    <img src="{{ section.settings.left-image | img_url: 'large' }}" alt="Katie's Pizza and Pasta Rock Hill">
    <div class="left-text">
      <h3>{{ section.settings.left-text-heading }}</h3>
      <p>{{ section.settings.left-text }}</p>
    </div>
  </div>
  <div class="right-image col-margins">
    <img src="{{ section.settings.right-image | img_url: 'large' }}" alt="Katie's Pizza and Pasta Town and Country">
    <div class="right-text">
      <h3>{{ section.settings.right-text-heading }}</h3>
      <p>{{ section.settings.right-text }}</p>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image with image",
  "settings": [
    {
      "id": "left-image",
      "type": "image_picker",
      "label": "Left image"
    },
    {
      "id": "left-text-heading",
      "type": "text",
      "label": "Left header text"
    },
    {
      "id": "left-text",
      "type": "richtext",
      "label": "Left text"
    },
    {
      "id": "right-image",
      "type": "image_picker",
      "label": "Right image"
    },
    {
      "id": "right-text-heading",
      "type": "text",
      "label": "Right header text"
    },
    {
      "id": "right-text",
      "type": "richtext",
      "label": "Right text"
    }
  ],
  "presets": [
    {
      "name": "Image with image",
      "category": "Image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}