
{% comment %}
** FAQ page - custom view **
- Page template section
- Uses blocks
{% endcomment %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for block in section.blocks %}
      {% unless block.type == 'heading' %}
        {
          "@type": "Question",
          "name": "{{ block.settings.title | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.subtitle | strip_html }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ]
}
</script>

{% if section.settings.image != blank %}
  <section class="{% if section.settings.wide_display == false %}main_content_area container {% endif %} wide_display--{{ section.settings.wide_display }}">
    <div class="banner-section">
      {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt, additional_classes: 'banner-section__image' %}
      {% if section.settings.image != blank or section.settings.title != blank or section.settings.subtext != blank %}
        <div class="banner-section__caption">
          <div class="container">
            <div class="columns {% if section.settings.text_position == 'left' %} nine offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ section.settings.text_align }}">
              {% if section.settings.title != blank %}
                <h1 class="banner-section__caption-headline">
                  {{ section.settings.title | escape }}
                </h1>
              {% else %}
                <h1 class="banner-section__caption-headline">
                  {{ page.title }}
                </h1>
              {% endif %}
              {% if section.settings.subtext != blank %}
                <div class="banner-section__caption-subtitle">
                  {{ section.settings.subtext }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

<div class="container">
  {% unless section.settings.image %}
    <div class="sixteen columns">
      <div class="section clearfix">
        {% if section.settings.title != blank %}
          <h1 class="headline">
            {{ section.settings.title | escape }}
          </h1>
        {% else %}
          <h1 class="headline">
            {{ page.title }}
          </h1>
        {% endif %}
        {% if section.settings.subtext != blank %}
          <div class="subtitle_content">
            {{ section.settings.subtext }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endunless %}
  {% if page.content != blank %}
    <div class="sixteen columns page clearfix">
      <div>
        {% include 'page-multi-column', content: page.content %}
      </div>
    </div>
  {% endif %}
  <div class="sixteen columns">
    {% if section.blocks.size > 0 %}
      <dl class="faq-accordion">
        {% for block in section.blocks %}
          {% if block.type == "heading" %}
            {% if block.settings.heading != blank %}
              <h2 class="faq-accordion--heading">{{ block.settings.heading }}</h2>
            {% endif %}
          {% endif %}
          {% if block.settings.title != blank %}
            <dt><button class="faq-accordion--button" type="button" aria-controls="panel-{{ block.id }}" aria-expanded="true">{{ block.settings.title }}</button></dt>
            <dd id="panel-{{ block.id }}" aria-hidden="false">
              {{ block.settings.subtitle }}
            </dd>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "FAQ",
    "class": "faq-template-section banner-option",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": "Text"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Title"
          }
        ]
      },
      {
        "name": "Frequently asked question",
        "type": "Content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Answer"
          }
        ]
      }
    ],
    "default": {
      "settings": {
        "title": "FAQs"
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Question",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        }
      ]
    }
  }
{% endschema %}
