<div class="container main">
  <div class="sixteen columns clearfix collection_nav feature_banner">
    <h1 class="collection_title">
      {{ page.title }}
    </h1>
  </div>
</div>

{% if section.settings.image %}
  {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt %}
{% else %}
  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "banner-template-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      }
    ]
  }
{% endschema %}
