{% if section.settings.product_breadcrumb == false %}
  {% style %}
    .container .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}

<div class="sixteen columns product-{{ product.id }}">

  <div class="section product_section js-product_section clearfix
       is-flex media-position--{{ section.settings.product_images_position }}"
       data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
       data-thumbnails-enabled="{{ section.settings.display_thumbnails }}"
       data-gallery-arrows-enabled="{{ section.settings.gallery_arrows }}"
       data-slideshow-speed="{{ section.settings.slideshow_speed }}"
       data-slideshow-animation="{{ section.settings.slideshow_transition }}"
       data-thumbnails-position="{{ section.settings.thumbnail_position }}"
       data-thumbnails-slider-enabled="{{ section.settings.enable_thumbnail_slider }}"
       data-activate-zoom="{{ section.settings.activate_zoom }}">

    <div class="eight columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
      {% include 'product-images', video_looping: section.settings.video_looping, set_product_height: section.settings.set_product_height %}
    </div>

    <div class="seven columns {% if section.settings.product_images_position == 'left' %}omega product__description--right{% else %}alpha product__description--left{% endif %}">
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}

      {% if collection and section.settings.show_collection_link %}
        <a class="product_collection" title="{{ collection.title | escape }}" href="{{ collection.url }}">
          {{ collection.title }}
        </a>
      {% endif %}

      <h1 class="product_name">{{ product.title }}</h1>

      {% if settings.enable_shopify_product_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      {% if section.settings.display_vendor %}
        <p class="vendor">
          {{ product.vendor | link_to_vendor }}
        </p>
      {% endif %}

      {% if variant.sku != blank and section.settings.display_sku %}
        <p class="sku">
          {{ variant.sku }}
        </p>
      {% endif %}


      {% if collection_handles contains 'coming-soon' %}
        <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
      {% else %}
        <p class="modal_price">
          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price {% if product.available == false %}hidden{% endif %}">
              {% if variant.price > 0 %}
                <span class="money">{{ variant.price | money }}</span>
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            <span class="money">{{ variant.compare_at_price | money }}</span>
          {% endif %}
          </span>
        </p>

        {% include 'product-notify-me' %}
      {% endif %}

      {% if section.settings.product_description_position == "top" %}
        {% if product.description != blank %}
          <div class="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
        {% endif %}
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        {% include 'product-form' with 'product' %}
      {% endunless %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      {% endif %}

      {% if section.settings.product_description_position == "bottom" %}
        {% if product.available %}<hr />{% endif %}
        {% if product.description != blank %}
        <div class="description">
          {{ product.description | split: '<!-- split -->' | first }}
        </div>
        {% endif %}
      {% endif %}

      {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
        <hr />
      {% endif %}

      <div class="meta">
        {% if section.settings.display_collections %}
          <p>
            <span class="label">{{ 'products.product.collections' | t }}:</span>
            <span>
            {% for col in product.collections %}
              <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </span>
        </p>
        {% endif %}

        {% if section.settings.display_tags %}
          <p>
            {% for tag in product.tags %}
              {% if forloop.first %}
                <span class="label">{{ 'products.product.tags' | t }}:</span>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <span>
                  <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                </span>
              {% endunless %}
            {% endfor %}
          </p>
        {% endif %}

        {% if section.settings.display_tags %}
          <p>
            {% for tag in product.tags %}
              {% if forloop.first %}
                <span class="label">{{ 'products.product.tags' | t }}:</span>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <span>
                  <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                </span>
              {% endunless %}
            {% endfor %}
          </p>
        {% endif %}

        {% if section.settings.display_type %}
          <p>
            <span class="label">{{ 'products.product.product_types' | t }}:</span> <span>{{ product.type | link_to_type }}</span>
          </p>
        {% endif %}

        {% if section.settings.display_vendor %}
          <p>
            <span class="label">{{ 'products.product.vendor' | t }}:</span> <span>{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}
      </div>

      {% include "social-buttons" with "product" %}
    </div>

  </div>

  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
</div>

{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
  <div class="sixteen columns">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}

<div class="product-details sixteen columns">
  {% for block in section.blocks %}

    {% if block.type == 'rich_text_and_image' %}
      {% include 'include-featured-text', type: 'block' %}


    {% elsif block.type == 'image_gallery' %}
      <div class="container">
        <div class="sixteen columns">
          {% include 'include-gallery' , type: 'block' %}
        </div>
      </div>


    {% elsif block.type == 'custom_html' %}

      {% include 'include-custom-html', type: 'block' %}

    {% elsif block.type == 'image_with_text' %}

      {% capture right_text %}
        <div class="image-with-text block__image-with-text clearfix container">
          <div class="sixteen columns block__{{block.id}} block__{{block.type}}" data-block-id="{{block.id}}" id="block__{{ block.id }}">
            <section class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
              <div class="image-with-text--half image-with-text--image">
                <div class="image-with-text--wrap">
                  <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} title="{{ block.settings.title | escape }}">
                    {% if block.settings.image %}
                      {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                    {% else %}
                      {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                      {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                    {% endif %}
                  </a>
                </div>
              </div>
              <div class="image-with-text--half">
                <div class="info text-align--{{block.settings.frontpage_text_align}}">
                  <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} class="collection_title">
                    {{ block.settings.title | escape }}
                  </a>
                  {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} class="action_button">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </section>
          </div>
        </div>
      {% endcapture %}

      {% capture left_text %}
        <div class="image-with-text block__image-with-text clearfix container">
          <div class="sixteen columns block__{{block.id}} block__{{block.type}}" data-block-id="{{block.id}}" id="block__{{ block.id }}">
            <section class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
              <div class="image-with-text--half">
                <div class="info text-align--{{block.settings.frontpage_text_align}}">
                  <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} class="collection_title">
                    {{ block.settings.title | escape }}
                  </a>
                  {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} class="action_button">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="image-with-text--half image-with-text--image">
                <div class="image-with-text--wrap">
                  <a {% if block.settings.image_with_text_button_link != blank %}href="{{ block.settings.image_with_text_button_link }}"{% endif %} title="{{ block.settings.title | escape }}">
                    {% if block.settings.image %}
                      {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                    {% else %}
                      {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                      {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                    {% endif %}
                  </a>
                </div>
              </div>
            </section>
          </div>
        </div>
      {% endcapture %}

      {% if block.settings.layout == 'right' %}
        {{ right_text }}
      {% else %}
        {{ left_text }}
      {% endif %}

    {% elsif block.type == 'divider' %}
      <div class="sixteen columns block__{{block.id}} block__{{block.type}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}" id="block__{{ block.id }}">
        <hr class="product-divider {% if block.settings.divider_border %}active-divider{% endif %}" style="{% if block.settings.divider_spacing %}margin: {{ block.settings.divider_spacing }}px 0;{% endif %}">
      </div>
    {% endif %}

  {% endfor %}
</div>

{% if section.settings.set_product_height %}
  {% style %}
    .product_slider model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .product_slider .product-gallery__main img,
    .product_slider .product-gallery__main .plyr--html5 video,
    .product_slider .product-gallery__main .plyr--youtube {
      height: {{ section.settings.product_height }}px;
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}

{% if product.media %}
  <script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{% schema %}
{
  "name": "Product",
  "class": "product-template-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover",
      "default": false
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Gallery transition",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_link",
      "label": "Show collection link",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ],
  "blocks": [
      {
        "type": "custom_html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "textarea",
            "id": "custom_html",
            "label": "HTML",
            "default": "<div class='container'><h2 class='title'>Your own custom HTML</h2></div>"
          }
        ]
      },
      {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add spacing between your sections by using a divider."
        },
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Spacing",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3",
          "info": "760 x 500px recommended"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 1000px recommended"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "image_with_text_button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "rich_text_and_image",
      "name": "Rich text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo",
          "info": "600 x 600px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "Talk about your brand",
          "content": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
          "text_alignment": "center",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text",
        "settings": {
          "layout": "right",
          "title": "Image",
          "text": "<p>Promotion description appears here.</p>",
          "button_label": "Button",
          "frontpage_text_align": "left"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}
