{% if section.settings.product_breadcrumb == false %}
  {% style %}
    .container .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}

<div class="sixteen columns" data-initial-width="sixteen" data-sidebar-width="twelve">
  <div class="product-{{ product.id }}">

    <div class="section product_section js-product_section clearfix
         is-flex media-position--{{ section.settings.product_images_position }}"
         data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
         data-thumbnails-enabled="{{ section.settings.display_thumbnails }}"
         data-gallery-arrows-enabled="{{ section.settings.gallery_arrows }}"
         data-slideshow-speed="{{ section.settings.slideshow_speed }}"
         data-slideshow-animation="{{ section.settings.slideshow_transition }}"
         data-thumbnails-position="{{ section.settings.thumbnail_position }}"
         data-thumbnails-slider-enabled="{{ section.settings.enable_thumbnail_slider }}"
         data-activate-zoom="{{ section.settings.activate_zoom }}">

      <div class="eight columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}" data-initial-width="eight" data-sidebar-width="six">
        {% include 'product-images', video_looping: section.settings.video_looping, set_product_height: section.settings.set_product_height %}
      </div>

      <div class="seven columns {% if section.settings.product_images_position == 'left' %}omega product__description--right{% else %}alpha product__description--left{% endif %}" data-initial-width="seven" data-sidebar-width="five">

        {% assign collection_handles = product.collections | map: 'handle' %}
        {% assign variant = product.selected_or_first_available_variant %}

        {% if collection and section.settings.show_collection_link %}
          <a class="product_collection" title="{{ collection.title | escape }}" href="{{ collection.url }}">
            {{ collection.title }}
          </a>
        {% endif %}

        <h1 class="product_name">{{ product.title }}</h1>

        {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

        {% if section.settings.display_vendor %}
          <p class="vendor">
            {{ product.vendor | link_to_vendor }}
          </p>
        {% endif %}

        {% if variant.sku != blank and settings.display_sku %}
          <p class="sku">
            {{ variant.sku }}
          </p>
        {% endif %}

        {% if collection_handles contains 'coming-soon' %}
          <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
        {% else %}
          <p class="modal_price">
            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                  <span class="money">{{ variant.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
            {% if variant.price < variant.compare_at_price and variant.available %}
              <span class="money">{{ variant.compare_at_price | money }}</span>
            {% endif %}
            </span>
          </p>

          {% include 'product-notify-me' %}
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form' with 'product' %}
        {% endunless %}

        {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        {% endif %}

        {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
          <hr />
        {% endif %}

        <div class="meta">
        {% if section.settings.display_collections %}
          <p>
            <span class="label">{{ 'products.product.collections' | t }}:</span>
            <span>
            {% for col in product.collections %}
              <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
            </span>
          </p>
        {% endif %}

        {% if section.settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">{{ 'products.product.tags' | t }}:</span>
                {% endif %}

                {% unless tag contains 'meta-' %}
                  <span>
                    <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  </span>
                {% endunless %}
              {% endfor %}
            </p>
        {% endif %}

        {% if section.settings.display_type %}
          <p>
            <span class="label">{{ 'products.product.product_types' | t }}:</span> <span>{{ product.type | link_to_type }}</span>
          </p>
        {% endif %}

        {% if section.settings.display_vendor %}
          <p>
            <span class="label">{{ 'products.product.vendor' | t }}:</span> <span>{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}
      </div>

      {% include "social-buttons" with "product" %}
    </div>

  </div>
</div>

<div class="section clearfix">
  <div class="description">
    {{ product.description }}
  </div>
</div>

{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
  <div class="sixteen columns" data-initial-width="sixteen" data-sidebar-width="twelve">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}

</div>

{% if section.settings.set_product_height %}
  {% style %}
    .product_slider model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .product_slider .product-gallery__main img,
    .product_slider .product-gallery__main .plyr--html5 video,
    .product_slider .product-gallery__main .plyr--youtube {
      height: {{ section.settings.product_height }}px;
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}

{% if product.media %}
  <script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{% schema %}

{
  "name": "Product bottom",
  "class": "product-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover",
      "default": false
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Gallery transition",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_link",
      "label": "Show collection link",
      "default": true
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ]
}

{% endschema %}
