{% comment %}
** Slideshow - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.blocks.size > 0 %}

  {% if section.settings.wide_display == false %}
    <div class="container">
    <div class="sixteen columns">
  {% endif %}

  <section id="slideshow-{{ section.id }}" class="full-width--{{ section.settings.wide_display }} overlap-header">
    <div class="slideshow slideshow_animation--{{ section.settings.slideshow_animation }}"
         data-slider-id="slideshow-{{ section.id }}"
         data-slideshow-speed="{{ section.settings.slideshow_speed }}"
         data-slideshow-text-animation="{{ section.settings.slideshow_text_animation }}"
         data-adaptive-height="{{ section.settings.adaptive_height }}">
      {% for block in section.blocks %}
        <div class="slideshow__gallery-cell slideshow__gallery-cell-slide-{{ forloop.index }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
          <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
            {% if block.settings.image %}
              {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt, additional_classes: 'slideshow__gallery-cell-image' %}
            {% else %}
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              {{ 'lifestyle-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--slideshow' }}
            {% endif %}
          </a>
          {% if block.settings.title != blank or block.settings.subtext != blank or block.settings.image_button_label != blank %}
            <div class="slideshow__caption">
              <div class="container text-animation--{{ section.settings.slideshow_text_animation }}">
                <div class="columns {% if block.settings.text_position == 'left' %} eight offset-by-one {% elsif block.settings.text_position == 'right' %} seven offset-by-eight {% else %} ten offset-by-three {% endif %} align_{{ block.settings.text_align }}">
                  <div class="slideshow__caption-content">
                    {% if forloop.first == true and block.settings.title != blank %}
                      <h1 class="slideshow__caption-headline">
                        {{ block.settings.title | escape }}
                      </h1>
                    {% elsif block.settings.title != blank %}
                      <p class="slideshow__caption-headline">
                        {{ block.settings.title | escape }}
                      </p>
                    {% endif %}
                    {% if block.settings.subtext != blank %}
                      <div class="slideshow__caption-subtitle">
                        <p>{{ block.settings.subtext }}</p>
                      </div>
                    {% endif %}
                    {% if block.settings.image_button_label != blank %}
                      <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="slideshow__caption-button action_button">
                        {{ block.settings.image_button_label | escape }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
    <a href="{{ block.settings.link_nav1 }}" class="slideshow-menu">
      {{ block.settings.image_button_nav1 | escape }}
    </a>
    
  </section>

  {% if section.settings.wide_display == false %}
    </div>
    </div>
  {% endif %}

{% endif %}

{% schema %}
{
  "name": "Slideshow",
  "class": "slideshow-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Animation",
      "default": "fade",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ]
    },
    {
      "type": "select",
      "id": "slideshow_text_animation",
      "label": "Text animation",
      "default": "fadeInDown",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeInDown",
          "label": "Fade down"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInUp",
          "label": "Fade up"
        }
      ]
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Change slides every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec",
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "checkbox",
      "id": "adaptive_height",
      "label": "Enable adaptive height",
      "info": "Slideshow will adjust based on height of individual slides",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 600px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "image_button_label",
          "label": "Button label"
        },
        {
          "type": "text",
          "id": "image_button_nav1",
          "label": "Button nav1"
        },
		{
          "type": "url",
          "id": "link_nav1",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "settings": {
      "slideshow_animation": "fade"
    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "image": "",
          "title": "Mobilia Shopify Theme",
          "text_position": "center",
          "text_align": "center",
          "image_button_label": "",
		  "image_button_nav1": "",
		  "link_nav1": "",
          "link": ""
        }
      },
      {
        "type": "image",
        "settings": {
          "image": "",
          "title": "",
          "text_position": "center",
          "text_align": "left",
          "image_button_label": "",
		  "image_button_nav1": "",
		  "link_nav1": "",
          "link": ""
        }
      }
    ]
  }]
}
{% endschema %}
