{% comment %}
** Testimonial - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.blocks.size > 0 %}
  <div class="testimonial-container clearfix" data-section-id="{{ section.id }}">
    <div class="slideshow testimonial-slideshow slideshow_animation--{{ section.settings.slideshow_animation }}"
         data-slider-id="slideshow-{{ section.id }}"
         data-slideshow-speed="{{ section.settings.slideshow_speed }}"
         data-adaptive-height="{{ section.settings.adaptive_height }}">
      {% for block in section.blocks %}
        <div class="slideshow__gallery-cell" slideshow__gallery-cell-slide-{{ forloop.index }} {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
          <section class="{% if block.settings.image_position == 'right' %}testimonial-image-right{% endif %} image-with-text--section featured-link--section section-{{ forloop.index }}">
            <div class="featured-link--half image-with-text--half">
              <div class="image-with-text--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                  {% if block.settings.image %}
                    {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half image-with-text--half">
              <div class="info text-align--{{ block.settings.frontpage_text_align }}">
                {% if block.settings.title != blank %}
                  <h2>
                    {{ block.settings.title | escape }}
                  </h2>
                {% endif %}
                {% if block.settings.testimonial != blank %}
                  <div class="description">
                    {{ block.settings.testimonial }}
                  </div>
                {% endif %}
                <p>
                  {% if block.settings.name != blank %}
                    <strong>&mdash; {{ block.settings.name | escape }}</strong>
                    <br>
                  {% endif %}

                  {% if block.settings.link_label != blank %}
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}">
                    {% endif %}
                    {{ block.settings.link_label | escape }}
                    {% if block.settings.link != blank %}
                      </a>
                    {% endif %}
                  {% endif %}
                </p>
              </div>
            </div>
          </section>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Testimonials",
    "class": "testimonial-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "select",
        "id": "slideshow_animation",
        "label": "Animation",
        "default": "fade",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          }
        ]
      },
      {
        "type": "range",
        "id": "slideshow_speed",
        "label": "Change testimonials every",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 6,
        "unit": "sec",
        "info": "Set to 0 to disable autoplay."
      },
      {
        "type": "checkbox",
        "id": "adaptive_height",
        "label": "Enable adaptive height",
        "info": "Slideshow will adjust based on height of individual slides",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "600 x 600px recommended"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "frontpage_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Testimonial"
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonial",
            "default": "<p>Include some of your favorite customer quotes and feedback here as social proof, to build credibility and trust for your services and products.</p>"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Customer name",
            "info": "Optional",
            "default": "John Doe"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Link label",
            "default": "Shopify.com",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
