a {
  color: black;
}

h1, h2, h3, h4, h5, h6, .collection_title, .headline, .subtitle, p {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  
}

h1.collection_title {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: .2em;
  line-height: .95;
}

h3 {
  font-size: 34px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h6 {
  font-size: 24px;
  font-weight: bold;
}

button {
  background-color: black;
  width: 150px;
  padding: 1em;
  min-width: 270px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

button a, button a:visited {
  color: white;
}

button.flickity-button {
  display: none;
}

ul.menu li.navicon_button {
    display: inline-block;
}

.header-section .nav ul.mobile-mega-menu li a {
  text-transform: uppercase;
}

.mobile_menu ul {
    display: block;
}

.dropdown.sub-menu.dropdown--left {
  display: none;
}

.nav ul.main.menu li {
  display: none;
}

ul.nav_buttons li {
  display: inline-block;
}

.nav ul.mobile_menu li {
  text-align: left;
}

.nav ul li a.cart_button, .nav ul li a.navicon, input[type="submit"].guest_button {
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 0;
}

.slideshow__gallery-cell-image img {
  height: 100%;
  width: 100%;
  min-height: 650px;
  object-fit: cover;
}

.slideshow .slideshow__gallery-cell .slideshow__gallery-cell-image {
  object-fit: cover;
  height: 100vh;
  min-height: 650px;
}

.slideshow .flickity-page-dots {
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  bottom: 22px;
}

.slideshow .flickity-page-dots .dot {
  padding: 0;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  background-color: black;
}

.header-nav {
  min-height: 84vh;
  padding-top: 6vh;
}

.header-nav p {
  margin-bottom: 2em;
}

.header-nav button {
  min-width: 300px;
}

@media only screen and (max-width: 691px) {
  .image-with-text--half {
    order: 2;
  }
}

h4.clicker {
  letter-spacing: .8px;
}
/* Accordian stuff  */
.product-content {
  display: none;
}

.x-icon {
  transform: none;
  display: inline-block;
  float: right;
  transition: transform .25s;
  font-weight: bold;
}

.rotate-x {
  transform: rotate(45deg) !important;
}
/* end */

.single-column p.date {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .48px;
  margin-bottom: 0;
}

.single-column p.almost-h4 {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}


.grid-2-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid-2-2 img {
  grid-column: 1/2;
  grid-row: 1/4;
  padding-bottom: 2em;
}
@media only screen and (max-width: 865px) {
  .grid-2-2 img {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
  }
}

.grid-2-2 .right-col {
  grid-column: 2/3;
  grid-row: 1/4;
}
@media only screen and (max-width: 865px) {
  .grid-2-2 .right-col {
    grid-column: 1/3;
    grid-row: 2/4;
  }
}

.text-over-image {
  text-align: center;

  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.text-over-image:nth-child(1) {
  grid-column: 1/2;
}
@media only screen and (max-width: 865px) {
  .text-over-image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
}

.text-over-image:nth-child(3) {
  grid-column: 2/3;
}
@media only screen and (max-width: 865px) {
  .text-over-image:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3;
  }
}

.text-over-image img {
  grid-column: 1/3;
  grid-row: 1/3;
}

.text-overlay {
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
  text-align: center;
  align-self: center;
}

.text-overlay h3 {
  color: black;
  text-align: center;
}

.text-overlay p {
  color: black;
  text-align: center;
}

.bot-left {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
}
@media only screen and (max-width: 865px) {
  .bot-left {
    grid-column: 1/3;
    grid-row: 2;
  }
}

.bot-right {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
@media only screen and (max-width: 865px) {
  .bot-right {
    grid-column: 1/3;
    grid-row: 4;
  }
}

.hours {
  float: left;
}

.hours h4 {
  margin-top: 0;
}

.hours-buttons {
  float: left;
  padding-left: 3em;
}
@media only screen and (max-width: 780px) {
  .hours-buttons {
    float: none;
    padding-left: 0;
  }
}

.hours-buttons button {
  min-width: 280px;
}

#store-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  min-height: 500px;
}

.left-image {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (max-width: 767px) {
  .left-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.right-image {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (max-width: 767px) {
  .right-image {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.left-image.col-margins {
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .left-image.col-margins {
    margin-left: 0;
  }
}

.right-image.col-margins {
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  .right-image.col-margins {
    margin-right: 0;
  }
}

.left-image.col-margins img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: 1/3;
  grid-column: 1/2;
}

.right-image.col-margins img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: 1/3;
  grid-column: 1/3;
}

.right-text {
  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.left-text {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.left-text, .right-text {
  padding: 0 3em;
}

.left-text h3, .right-text h3 {
  color: black;
  text-align: center;
}

.left-text p, .right-text p {
  color: black;
  margin-bottom: .1em;
  line-height: 1.6;
}

.info .description p {
  font-size: 28px;
}

.footer ul {
  display: inline-block;
}

.single-column {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.single-column h4 {
  font-weight: bold;
}

.single-column p {
  margin-bottom: 4em;
}

div.footer {
  border-top: none;
}

.footer_image {
  padding-bottom: 2em;
}

.overlap-header {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100vw;
  z-index: -1;
}

.header {
  background-color: transparent;
}

.social_icons a {
  color: black;
  font-size: 1.5em;
}

.newsletter .input-row input[type='text'], .newsletter .input-row input[type='email'] {
    margin-bottom: 12px;
    border: 0;
    border-bottom: 3px solid black;
}

.input-row.newsletter-both-names--false {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.input-row.newsletter-both-names--false .contact_email {
  display: inline;
  max-width: 80%;
}

.input-row.newsletter-both-names--false input.action_button {
  width: 25px;
  font-size: 1.2em;
  margin-left: 5px;
  background-color: transparent;
  color: black;
  display: inline;
  max-width: 5%;
}

.footer .newsletter .contact-form {
    margin: 0 0 0px;
    width: 100%;
}

.press-page div {
  padding: 2em 1em;
}

.pagination a {
  margin: 2.2em;
  font-weight: 900;
  font-size: 1.5em;
  background-color: whitesmoke;
  padding: .5em 1em;
  border-radius: 10px;
  transition: all .25s;
}

.pagination a:nth-child(1) {
  margin-left: 0;
}

.pagination a:nth-child(2) {
  margin-right: 0;
}

.pagination a:hover {
  /*box-shadow: 0 2px lightgrey;*/
  -moz-box-shadow:    inset 0 0 10px lightgrey;
  -webkit-box-shadow: inset 0 0 10px lightgrey;
  box-shadow:         inset 0 0 10px lightgrey;
  transform: translateY(2px);
  font-weight: 400;
}

.pagination a:visited {
  color: black;
}

.pagination a:active,
.pagination a:focus {
  color: #9d6704;
}

.fas.fa-download {
  padding-right: 1em;
}

@media only screen and (max-width:767px) {
  .image-with-text--half {
    width: 100%;
  }
}