{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

<div class="container main content main-wrapper">

  {% include 'product-structured-data' %}

  <div class="breadcrumb breadcrumb__wrapper sixteen columns">
    <a href="{{ shop.url }}" title="{{ shop.name | escape }}"><span>{{ 'general.breadcrumbs.home' | t }}</span></a>
    <span class="icon-caret-right"></span>
      {% if collection %}
        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
        <span>{{ collection.title }}</span></a>
      {% else %}
        <a href="{{ routes.all_products_collection_url }}" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
      {% endif %}
    <span class="icon-caret-right"></span>
    {{ product.title }}
  </div>

  <div class="sixteen columns alpha omega">
  {% section 'product-details-template' %}

    <div class="sixteen columns alpha omega">
    {% section 'product-recommendations' %}
  </div>

  </div>
</div>
